
    button {
        margin: 25px;
        padding: 5px;
    }

    .form-control {
        width: 50px;
        margin: 25px;
        padding: 5px;
    }

    .alert{
        margin: 25px;
        padding: 5px;
    }

    h1{
        margin: 25px;
        padding: 5px;
        color:azure;
    }

    pre{
        margin: 25px;
        padding: 5px;
        color:azure;
    }

    label{
        margin: 25px;
        padding: 5px;
        color:azure;
    }



